<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <center>
        <div style="margin-top:15%">
            <h1>
                ArtifactURL 은 : localhost:3000/
                <%= url %> 입니다.
            </h1>
            <a href="http://localhost:3000/<%= url %>">
                <%= url %> 확인하기</a>
        </div>
    </center>


</body>

</html>